#clock {
  font-weight: bold;
}

#battery {
}

#cpu {
}

#memory {
}

#network {
  padding: 0 20px;
}

#network.disconnected icon {
  color: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
  color: rgb(102, 220, 105);
}

#tray {
}
